*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.metadata/

# Bin and eclipse files
/Selenium*/bin/
/Selenium*/.classpath
/Selenium*/.metadata
/Selenium*/.project
/Selenium*/.settings
Selenium.ui/xtend-gen/org/xtext/emn/selenium/ui/*/*.xtendbin

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
