<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
        <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="SEL Action Set"
            visible="true"
            id="org.xtext.emn.selenium.interpreter.actionSet">
         <menu
               label="SEL"
               id="selMenu">
            <separator
                  name="selGroup">
            </separator>
         </menu>
         <action
               label="Execute SEL"
               icon="icons/sample.gif"
               class="org.xtext.emn.selenium.interpreter.handlers.InterpreterAction"
               tooltip="Execute the currently selected sel script"
               menubarPath="selmenu/selGroup"
               toolbarPath="selGroup"
               id="org.xtext.emn.selenium.interpreter.handlers.InterpreterAction">
         </action>
      </actionSet>
   </extension>
</plugin>