<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SEL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.xtext.emn.selenium.sel.presentation.SelModelWizardID"
            name="%_UI_SelModelWizard_label"
            class="org.xtext.emn.selenium.sel.presentation.SelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SelModelFile.gif">
         <description>%_UI_SelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SEL -->
      <editor
            id="org.xtext.emn.selenium.sel.presentation.SelEditorID"
            name="%_UI_SelEditor_label"
            icon="icons/full/obj16/SelModelFile.gif"
            extensions="sel"
            class="org.xtext.emn.selenium.sel.presentation.SelEditor"
            contributorClass="org.xtext.emn.selenium.sel.presentation.SelActionBarContributor">
      </editor>
   </extension>

</plugin>
